{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card shadow animated fadeInUp">
                <img class="card-img-top" src="{{object.profile.image.url}}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{object.first_name}} {{object.last_name}}</h4>
                    <h4 class="card-title">@{{object.username}}</h4>
                    <p class="card-text">Member since : {{object.profile.created.year}} |
                        {{object.profile.created|timesince}}</p>
                    <p>
                        Followers: {{object.followed_by.all.count }}
                    </p>
                    <p>
                        {% if not request.user == object %}<a class="btn btn-info"
                            href="{{ object.profile.get_follow_url }}">
                            {% if following %} Unfollow {% else %} Follow {% endif %}
                        </a>
                        {% endif %}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="margin: auto;">
                <div class="card-columns" id="post-section">

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}