{% extends 'dashboard/base.html' %}

{% block graph %}
<div class="panel-header panel-header-sm">
</div>
{% endblock graph %}

{% block content %}
<div class="card shadow-lg">
    <div class="card-body">

        <table class="table table-hover table-striped">
            <thead class="">
                <tr>
                    <th class="text-white">Username</th>
                    <th class="text-white">Full Name</th>
                    <th class="text-white"></th>
                </tr>
            </thead>
            <tbody>
                {% for users in object_list %}
                <tr>
                    <td>{{ users.username }}</td>
                    <td>{{ users.first_name }} {{ users.last_name }}</td>
                    <td><a href="{% url 'account:user_details' pk=users.id %}"
                            class="btn btn-primary buttons btn-sm pt-1">
                            <i class="tim-icons icon-zoom-split font-weight-bolder"></i>
                        </a>
                        {% endfor %}

            </tbody>

        </table>

    </div>
</div>
{% endblock %}