{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content text-center">
          <h2>Checkout</h2>
        </div>
      </div>
    </div>
  </section>


  <main >
    <div class="container wow fadeIn">
      <p class='jumbotron mt-4'>
        SHIPPING POLICY Free Shipping in Pakistan for all orders. The customer will usually get an order in 3-5 business days after the order has shipped out. Our Customer Support Representative will call you for Order Conﬁrmation. After your order Conﬁrmation, it can take up to 24 Hours for us to process your order and ship it this is just an estimate and does not include weekends and holidays. We do not ship To P.O Boxes. Delivery can take longer in remote areas in Pakistan. RETURN & EXCHANGE POLICY All products purchased from www. Lafooterwears.pk can be exchanged within 7 days only it 1. The item(s) is faulty, damaged or defective at the time of delivery. 2. The item(s) does not match the original speciﬁcations of the product or is found to be not the same as you had actually purchased.
      </p>
      <h2 class="my-5 h2 text-center"></h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            <form method="POST" class="card-body">
              {% csrf_token %}

              <h3>Shipping address | شپنگ ایڈریس</h3>

              <div class='hideable_shipping_form'>
                <br>
                <div class="md-form mb-3">
                  <label for="shipping_address" class="">Address</label>
                  <input type='text' placeholder='1234 Main St' id='shipping_address' name='shipping_address' class='form-control' />
                </div>

                <div class="md-form mb-3">
                  <label for="shipping_address2" class="">Address 2 (optional)</label>
                  <input type='text' placeholder='Apartment or suite' id='shipping_address2' name='shipping_address2' class='form-control' />
                </div>

                <div class="row mb-3">
                  <div class="col-lg-4 col-md-12 mb-3">
                    <label for="number">Phone Number</label>
                  <input type='text' placeholder='Phone Number' id='shipping_number' name='shipping_number' class='form-control' />
                    <div class="invalid-feedback">
                      Phone Number required.
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-3">
                    <label for="number">City</label>
                  <input type='text' placeholder='City' id='shipping_city' name='shipping_city' class='form-control' />
                    <div class="invalid-feedback">
                      City required.
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <label for="shipping_zip">Zip</label>
                    <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip' class='form-control' />
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
                </div>

                <div class="form-group form-checkbox">
                  <input type="checkbox" class="form-control-input" name="same_billing_address" id="same_billing_address">
                  <label class="form-control-label" for="same_billing_address">Billing address is the same as my shipping address</label>
                  <br>
                  <input type="checkbox" class="form-control-input" name="set_default_shipping" id="set_default_shipping">
                  <label class="form-control-label" for="set_default_shipping">Save as default shipping address</label>
                  {% if default_shipping_address %}
              <div class="form-group form-checkbox">
                <input type="checkbox" class="form-control-input" name="use_default_shipping" id="use_default_shipping">
                <label class="form-control-label" for="use_default_shipping">Use default shipping address: {{ default_shipping_address.street_address|truncatechars:10 }}</label>
              </div>
              {% endif %}

                </div>

              </div>

            
              <hr>

              <h3>Billing address | بل ایڈریس</h3>

              <div class='hideable_billing_form'>
              <br>
                <div class="md-form mb-3">
                  <label for="billing_address" class="">Address</label>
                  <input type='text' placeholder='1234 Main St' id='billing_address' name='billing_address' class='form-control' />
                </div>

                <div class="md-form mb-3">
                  <label for="billing_address2" class="">Address 2 (optional)</label>
                  <input type='text' placeholder='Apartment or suite' id='billing_address2' name='billing_address2' class='form-control' />
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-3">
                    <label for="number">Phone Number</label>
                  <input type='text' placeholder='Phone Number' id='billing_number' name='billing_number' class='form-control' />
                    <div class="invalid-feedback">
                      Phone Number required.
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-3">
                    <label for="number">City</label>
                  <input type='text' placeholder='City' id='billing_city' name='billing_city' class='form-control' />
                    <div class="invalid-feedback">
                      City required.
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 mb-3">
                    <label for="billing_zip">Zip</label>
                    <input type='text' placeholder='Zip code' id='billing_zip' name='billing_zip' class='form-control' />
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>

                </div>

                <div class="form-group form-checkbox">
                  <input type="checkbox" class="form-control-input" name="set_default_billing" id="set_default_billing">
                  <label class="form-control-label" for="set_default_billing">Save as default billing address</label>
                   {% if default_billing_address %}
              <div class="form-group form-checkbox">
                <input type="checkbox" class="form-control-input" name="use_default_billing" id="use_default_billing">
                <label class="form-control-label" for="use_default_billing">Use default billing address: {{ default_billing_address.street_address|truncatechars:10 }}</label>
              </div>
              {% endif %}
                </div>


              </div>

           
              <hr>

              <h3>Payment option</h3>

              <div class="d-block my-3">
                <div class="form-group form-radio">
                {% for value, name in form.fields.payment_option.choices %}
                  <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="form-control-input" required>
                  <label class="form-control-label" for="{{ name }}">{{ name }}</label>
                  <br>
                {% endfor %}
                </div>

              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>

        </div>

        <div class="col-md-4 mb-4">
          {% include "order_snippet.html" %}
        </div>

      </div>

    </div>
  </main>

{% endblock content %}

{% block extra_scripts %}
<script>
var hideable_shipping_form = $('.hideable_shipping_form');
var hideable_billing_form = $('.hideable_billing_form');

var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
var use_default_billing = document.querySelector("input[name=use_default_billing]");

var same_billing_address = document.querySelector("input[name=same_billing_address]");


same_billing_address.addEventListener('change',function(){
  if (this.checked) {
    hideable_billing_form.hide();
  } else {
    hideable_billing_form.show();
  }
})

use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
  } else {
    hideable_shipping_form.show();
  }
})

use_default_billing.addEventListener('change', function() {
  if (this.checked) {
    hideable_billing_form.hide();
  } else {
    hideable_billing_form.show();
  }
})

</script>
{% endblock extra_scripts %}
