{% extends "base.html" %}

{% block content %}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content text-center">
          <h2>Single Product Page</h2>
        </div>
      </div>
    </div>
  </section>
<br>
    

<section class="cart_area">
    <div class="container">
      <div class="cart_inner">
        <div class="">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
        {% for order_item in object.items.all %}

              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="{{order_item.item.image.url}}" width='100px' alt="">
                    </div>
                    <div class="media-body">
                      <p>{{ order_item.item.title }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>Rs. {{ order_item.item.price }}</h5>
                </td>
                <td>
                  <div class="product_count">

                <a href="{% url 'orders:remove-single-item-from-cart' order_item.item.slug %}"><i class="lnr lnr-chevron-up mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'orders:add-to-cart' order_item.item.slug %}"><i class="lnr lnr-chevron-down ml-2"></i></a>
                  </div>
            
                </td>
                <td>
            {% if order_item.item.discount_price %}
                Rs. {{ order_item.get_total_discount_item_price }}
                <span class="badge badge-primary">Saving Rs. {{ order_item.get_amount_saved }}</span>
            {% else %}
                Rs. {{ order_item.get_total_item_price }}
            {% endif %}
           
            </td>
                <td> <a style='color: red;' href="{% url 'orders:remove-from-cart' order_item.item.slug %}">
                <i class="fa fa-remove float-right"></i>
            </a></td>
              </tr>
             
            {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
                  <a class="gray_btn" href="/">Continue Shopping</a>
            </td>
        </tr>
        {% endfor %}
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>Rs. {{ object.get_total }}</b></td>
        </tr>
       <tr class="checkout_btn_inner">
                <td colspan='4' >
                  <a class="main_btn mt-2" href="/checkout/">Proceed to checkout</a>
                  <a class="gray_btn mt-2" href="/">Continue Shopping</a>
                </td>
              </tr>
        {% endif %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


 
{% endblock content %}


