{% load static %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

  
  <script src="{% static 'js/popper.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript"></script>
  <script src="{% static 'js/stellar.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript"></script>
  <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript"></script>
  <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript">
  </script>
  <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript"></script>
  <script src="{% static 'vendors/isotope/isotope-min.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript"></script>
  <script src="{% static 'js/jquery.ajaxchimp.min.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript"></script>
  <script src="{% static 'vendors/counter-up/jquery.waypoints.min.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript"></script>
  <script src="{% static 'vendors/flipclock/timer.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript"></script>
  <script src="{% static 'vendors/counter-up/jquery.counterup.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript"></script>
  <script src="{% static 'js/mail-script.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript"></script>
  <script src="{% static 'js/theme.js' %}" type="57b812f61c6b8dd2d43e41b7-text/javascript"></script>
  <script type="text/javascript" src="{% static 'js/rocket-loader.min.js' %}" data-cf-settings="57b812f61c6b8dd2d43e41b7-|49"></script>
  <script type="text/javascript" src="{% static 'js/floating-wpp.js' %}"></script>

<script type="text/javascript">  

   $(function () {
           $('#WAButton').floatingWhatsApp({
               phone: 'WHATSAPP-PHONE-NUMBER', //WhatsApp Business phone number
               headerTitle: 'Chat with us on WhatsApp!', //Popup Title
               popupMessage: 'Hello, how can we help you?', //Popup Message
               showPopup: true, //Enables popup display
               buttonImage: '<img src="{% static "js/whatsapp.svg" %}" />', //Button Image
               //headerColor: 'crimson', //Custom header color
               //backgroundColor: 'crimson', //Custom background button color
               position: "right" //Position: left | right

           });
       });
</script>  
</script>